@import '../../../../../assets/styles/guide-style';

h2 {
    text-align: center;
    @include color-base;
    font-weight: bold;
    mat-icon {
        position: absolute;
        right: $baseSize*2;
        top: $baseSize*2;
        cursor: pointer;
    }
}